@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle}
input::-ms-clear{display:none}
button{border:0 none;background-color:transparent;cursor:pointer}
body{background:#100e17}
body,th,td,input,select,textarea,button{font-size:12px;line-height:1.5;font-family:'Malgun Gothic', '맑은 고딕', Helvetica, 'Apple SD Gothic Neo', AppleGothic, Dotum, '돋움', Arial, sans-serif;color:#333}
a{color:#fff;text-decoration:none}
a:active{background-color:transparent}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
html,body{overflow:visible;height:100%}

/* global */
.ir_pm{display:block;overflow:hidden;font-size:0;line-height:0;text-indent:-9999px}
.screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}
.hide{display:none}
img {display:inline-block;width:100%;height:auto;vertical-align:top}


/* layout */
.portfolio.main {overflow:hidden;height:100%;box-sizing:border-box;background:#100e17}
.portfolio.main .cont_portfolio {position:relative;height:100%;box-sizing:border-box;color:#fff;}

/* menu */
.head_portfolio {position:fixed;top:0;left:0;z-index:100;transition:.3s}
.main .head_portfolio {left:60px;top:50%;margin-top:78px}
.list_nav li {float:left;margin-right:10px}
.list_nav li .link_nav {display:block;padding:0 10px;height:23px;border-radius:20px;font-size:14px;line-height:23px;text-align:center;box-sizing:border-box;background:#048ec8}
.list_nav li .link_nav:after {display:inline-block;margin:9px 0 0 2px;width:5px;height:5px;border-top:1px solid #fff;border-right:solid 1px #fff;vertical-align:top;;-ms-transform:rotate(45deg);transform:rotate(45deg);content:""}
.list_nav li .link_nav:hover:after {animation:arrRight .7s infinite}
@keyframes arrRight {
    0%,50%,100% {transform:translateX(0) rotate(45deg)}
    25%,75% {transform:translateX(3px) rotate(45deg)}
}

.wrap_cont{position:absolute;top:0;left:0;width:100%;height:100%;transition:transform 0.6s ease-out}
.wrap_cont .wrap_txt{position:absolute;left:60px;top:50%;margin-top:-155px}
.wrap_cont .txt_main {display:block;font-weight:bold;font-size:23px;transition:.3s}
.wrap_cont #text, .wrap_cont .console_underscore {color:#048ec8}
.wrap_cont .txt_sub {display:block;margin-top:8px;font-size:16px;line-height:22px;transition:.3s}
.wrap_cont h1 {margin-top:8px;font-size:66px;line-height:68px;color:#fff;opacity:.7;transition:.3s}
.wrap_bg {position:relative;height:100%;background-image:radial-gradient(ellipse closest-side, rgba(41, 39, 47, 0.15), #100e17), url(../images/bg.jpg);background-position:55% top;background-size:cover;background-repeat:no-repeat;opacity:.75}


/* list */
.list .head_portfolio {padding:14px 50px 14px;width:100%;height:50px;box-sizing:border-box;background:rgba(0,0,0,.6)}
.list .content {overflow:hidden;padding:50px 30px 30px;width:100%;box-sizing:border-box;transform:translateY(100px);opacity:0;}
.list .content.on {transform:translateY(0px);opacity:1;transition:1s}
#list.list {width:100%;min-height:500px;font-size:14px;font-family:'Noto Sans JP', sans-serif;line-height:20px}
.list .item {float:left;padding:15px;width:20%;box-sizing:border-box;transition:.2s}
.list .item:hover {transform:translateY(-10px)}
.list .item .inner {position:relative;padding:15px;width:100%;border-radius:5px;box-sizing:border-box;background:#17141d;box-shadow:10px 10px 0px 0px rgba(0, 0, 0, 1);vertical-align:top;transition:.2s;color:#fff}

.list .item .thumb {display:table;box-shadow:0px 0px 0px 4px #048ec8;transition:box-shadow 0.3s linear}
.list .item .thumb .inner_thumb {display:table-cell;vertical-align:middle;background:#000}
.list .item:hover .thumb {box-shadow:0px 0px 0px 6px #048ec8}
.list .item .list_item {padding:15px 2px 0}
.list .item .list_item .name {font-weight:bold;font-size:18px;line-height:24px}
.list .item .list_item .name .txt_category {position:absolute;right:20px;top:25px;padding:3px 10px 2px;width:55px;height:20px;border-radius:20px;box-sizing:border-box;background:#048ec8;font-weight:bold;font-size:11px;line-height:12px;color:#fff;text-align:center}
.list .item .list_item .name .txt_tit {display:block;margin-top:3px;letter-spacing:-0.5px}
.list .item .list_item .period {margin-top:5px;font-size:12px;letter-spacing:1px}
.list .item .list_item .num_persent {font-size:12px}
.list .item .list_item .txt_persent {float:left;margin-right:5px;font-size:12px}
.list .item .list_item .tag {display:block;font-weight:bold;letter-spacing:1px;color:#048ec8}
.list .item .list_item .desc {display:none}

/* resume */
.resume .head_portfolio {padding:14px 30px 14px;margin-left:-400px;left:50%;width:800px;height:50px;box-sizing:border-box;background:rgb(255,255,255,.8);letter-spacing:0}
.resume {overflow:hidden;width:100%;max-width:800px;margin:0 auto;padding:55px 30px;box-sizing:border-box;background:#fff;color:#444;letter-spacing:-1px}
.head_resume {overflow:hidden}
.head_resume .profile_resume {overflow:hidden;float:left}
.head_resume .thumb_photo {float:left;width:120px;height:120px;margin-right:25px;border-radius:50%}
.head_resume .thumb_photo img {height:100%;border-radius:100px}
.head_resume strong {display:block;overflow:hidden;font-size:40px;line-height:42px;color:#333}
.head_resume strong .name {display:block;margin-top:-2px;color:#048ec8}
.head_resume strong .txt {display:inline-block;margin:8px 8px 0 0;font-weight:bold;font-size:15px;line-height:18px;vertical-align:top;color:#000}
.head_resume strong .job {display:inline-block;margin-top:9px;font-size:15px;;line-height:18px;color:#d6d6d6;vertical-align:top;letter-spacing:0}
.head_resume .list_contact {overflow:hidden;float:right;margin-top:2px;font-size:13px;color:#adadad}
.head_resume .list_contact dt {float:left;width:40px;margin:0 25px 10px 0;text-align:right;letter-spacing:0}
.head_resume .list_contact dd {overflow:hidden;margin-bottom:10px;letter-spacing:1px}

.cont_resume {padding-top:60px;font-size:14px;color:#444}
.cont_resume h2 {float:left;width:130px;margin-top:-16px;padding-right:20px;font-size:22px;color:#444;background:#fff;letter-spacing:0;text-align:right}
.cont_resume .list_resume {padding:30px 10px 40px 0;border-top:1px solid #c7c7c7}
.cont_resume .list_resume li {overflow:hidden;margin-bottom:16px}
.cont_resume .list_resume .tit {float:left;width:130px;margin-right:20px;font-size:18px;line-height:21px;color:#048ec8;text-align:right}
.cont_resume .list_resume .desc {display:block;overflow:hidden}
.cont_resume .list_resume .date {display:block;margin-top:4px;font-size:13px;line-height:13px;color:#adadad;letter-spacing:0}

.cont_resume .list_item {padding:5px 0 0 151px}
.cont_resume .list_item:first-child {padding-top:0}
.cont_resume .list_resume .thumb {display:none}
.cont_resume .list_item .name {position:relative}
.cont_resume .list_item .name:before {position:absolute;left:-15px;top:9px;width:4px;height:4px;border-radius:2px;background:#048ec8;content:""}
.cont_resume .list_item .name a {display:inline-block;font-weight:bold;font-size:15px;color:#048ec8;word-break:break-all}
.cont_resume .list_item .name .txt_category {padding-right:4px}
.cont_resume .list_item .period {letter-spacing:0}
.cont_resume .list_item .period::before,
.cont_resume .list_item .txt_persent::before{display:inline-block;margin:-1px 5px 0 0;vertical-align:top;content:"-"}
.cont_resume .list_item .txt_persent {float:left;margin-right:2px}
.cont_resume .list_item .num_persent {overflow:hidden}
.cont_resume .list_item .tag {padding-left:10px;color:#048ec8;letter-spacing:0}
.cont_resume .list_item .desc {padding-left:10px}



/* 해상도 대응 */
@media screen and (max-width:1599px) {
    .list .item {width:20%;}
}
@media screen and (max-width:1399px) {
    .wrap_cont .wrap_txt{left:40px;margin-top:-145px}
    .wrap_cont .txt_main {font-size:20px}
    .wrap_cont .txt_sub {margin-top:8px;font-size:15px}
    .wrap_cont h1 {margin-top:4px;font-size:52px;line-height:56px}
    .main .head_portfolio {left:40px;margin-top:56px}

    .list .item {width:25%}
}
@media screen and (max-width:999px) {
    .wrap_cont .wrap_txt {left:30px;margin-top:-115px}
    .wrap_cont .txt_main {font-size:16px}
    .wrap_cont .txt_sub {font-size:14px}
    .wrap_cont h1 {margin-top:6px;font-size:34px;line-height:36px}
    .main .head_portfolio {left:30px;margin-top:35px}
    .list_nav li {margin-right:6px}
    .list_nav li .link_nav {height:20px;font-size:12px;line-height:20px}
    .list_nav li .link_nav:after {margin:8px 0 0 2px}

    .cont_resume .list_project {padding-left:61px}
    .list .item {width:33.333%;}
}
@media screen and (max-width:749px) {
    .list .item {width:50%;}
    .resume .head_portfolio {padding:14px 20px 14px;margin-left:0;left:0;width:100%;}
}

@media screen and (max-width:539px) {
    .list .head_portfolio {padding:14px 20px 14px}
    .list .content {padding:50px 20px 20px}
    .list .item {width:100%;padding:10px 0}
    .list .item .thumb {float:left;width:80px;height:80px;box-shadow:0px 0px 0px 2px #048ec8}
    .list .item:hover .thumb {box-shadow:0px 0px 0px 4px #048ec8}
    .list .item .list_item {overflow:hidden;padding:0 0 0 15px}
    .list .item .list_item .name .txt_category {right:10px;top:16px}
    .list .item .list_item .name .txt_tit {overflow:hidden;margin-top:0;text-overflow:ellipsis;white-space:nowrap}
    .list .item .list_item .name {padding-right:50px;font-size:16px;line-height:18px}
    .list .item .list_item .tag {font-size:14px}
    .cont_resume .list_item {padding:10px 0 0 67px}
    .head_resume .thumb_photo {display:none}
    .resume {padding:55px 20px}
    .head_resume strong .txt {margin-top:15px}
    .head_resume strong .job {margin-top:15px}
    .head_resume .list_contact {float:left}
    .head_resume .list_contact dt {margin:0 30px 10px 0;text-align:left}
}
