aside {
   position:absolute;right:100px;top:70px;z-index:6;border:3px solid #fff;box-sizing:border-box;
    .img_popup {
        width:350px;height:450px;
        .img {
            display:block;width:100%;height:100%;
        }
    }
    .info_popup {
        padding:0 10px;height:26px;background:#000;font-size:12px;line-height:26px;text-align:right;box-sizing:border-box;font-family:Arial, Helvetica, sans-serif;color:#eee;
        .btn_popup_close {
            display:inline-block;margin:1px 0 0 15px;font-size:12px;line-height:26px;vertical-align:top;color:#eee;background:none;
        }
    }

}


/* ------ tablet ------ */
@media screen and (max-width:$tablet){
    aside {
       right:auto;left:50%;top:40px;margin-left:-200px;
    }
}

/* ------ mobile ------ */
@media screen and (max-width:$mobile){
    aside {
        margin-left:-150px;
        .img_popup {
            width:300px;height:400px;
        }
    }
}