#visualSub.members {
    background:url(../images/img07.jpg) no-repeat 50% center;background-size:cover;
}

.info_form {
    width:580px;margin:-40px auto 0;
    .invalid {
        background:rgb(255, 226, 231)!important;
    }
    em.msgInvalid {
        display:none;margin-top:4px;font-style:normal;font-size:14px;color:#ff3b50;
        &.on {
            display:block;
        }
    }
    .cont_form {
        margin-top:40px;
        .lab_form {
            display:block;padding-left:5px;font-weight:bold;font-size:18px;line-height:18px;color:$color;
        }
        .ico_required {
            &::before {
                display:inline-block;margin:2px 3px 0 0;font-weight:normal;color:red;vertical-align:top;content:"*"
            }
        }
        .inp_required {
            margin-top:8px;padding:0 10px;width:100%;height:40px;font-size:14px;box-sizing:border-box;border-radius:20px;color:#222;border:1px solid #eee;
            &::placeholder {
                color:#999;
            }
        }
        .select_form {
            height:40px;padding:0 10px;font-size:14px;color:#222;border-radius:20px;border:1px solid #eee;background:#fff;box-sizing:border-box;-webkit-appearance:none;-moz-appearance:none;
        }
        &.cont_form_email {
            .inp_required {
                width:356px;
            }
            .select_form {
                width:200px;margin-top:10px;
            }
        }
        .txt {
            display:inline-block;margin-top:18px;font-size:14px;color:#777;vertical-align:top;
        }
        .info_choice {
            margin:10px 0 5px 5px;
            .inp_radio {
                margin-right:3px;
            }
            .lab_form {
                display:inline-block;margin-right:20px;font-weight:bold;font-size:14px;color:$color;
            }
        }
        &.cont_form_phone {
            .select_form {
                width:170px;margin-top:10px;
            }
            .inp_required {
                width:200px;
            }
        }
        .tf_form {
            width:100%;height:100px;margin-top:10px;padding:10px;font-size:14px;border-radius:10px;border:1px solid #eee;box-sizing:border-box;background:#fff;
            &::placeholder {
                color:#999;
            }
        }
        &.cont_form_agree {
            .notice {
                overflow-y:auto;width:100%;height:150px;margin:10px 0;padding:10px 15px;font-size:14px;line-height:22px;color:#777;border:1px solid #eee;border-radius:10px;box-sizing:border-box;background:rgba(123, 142, 161, 0.17);
            }
            .inp_check {
                margin-left:5px;transform:scale(1.3);
            }
            .lab_check {
                margin-left:10px;font-weight:bold;font-size:14px;color:$color;
            }
        }
    }
    .wrap_btn {
        margin-top:60px;text-align:center;
        .btn_member {
            display:inline-block;margin:0 2px;width:120px;height:40px;font-weight:bold;font-size:14px;border-radius:20px;
            &.btn_cancle {
                color:$color;border:1px solid #eee;
            }
            &.btn_send {
                color:#fff;border:1px solid $color;background:$color;
            }
        }
    }
}


/* mobile */
@media screen and (max-width:$mobile){ 
    .info_form {
        width:100%;
        .cont_form {
            &.cont_form_email {
                .inp_required {
                    width:100%;
                }
                .select_form {
                    width:100%;
                }
            }
            .txt {
                display:none;
            }
            &.cont_form_phone {
                .select_form {
                    width:32%;
                }
                .inp_required {
                    width:32%;
                }
            }
        }
    }
}
