#navi { 
    position:fixed;z-index:5;right:50px;top:50%;margin-top:-82px;
    li {
        margin:10px 0;
        button {
            display:block;width:18px;height:18px;border:2px solid $color;background:#fff;border-radius:9px;transition:.3s;
        }
        &.on {
            button {
                height:42px;background:$color;
            }
        }
          
    }   
}


/* ------ tablet ------ */
@media screen and (max-width:$tablet){
    #navi { 
        right:30px;margin-top:-74px;
        li {
            button {
                width:14px;height:14px;border-radius:7px;
            }
            &.on {
                button {
                    height:32px;
                }
            }
        }
    }

}